Repository databricks/terraform-provider-databricks: changes, and which Codecov flags are due for each by the changed paths.
All: client, provider

codecov.yml:

ignore:
  - "client/**/*test.go"
  - "databricks/*test.go"
  - "vendor/**/*"
  - "website/**/*"
  - "dist/**/*"
  - "examples/**/*"

coverage:
  status:
    project:
      client:
        target: auto
        flags:
          - client
      provider:
        target: auto
        flags:
          - provider
flags:
  client:
    paths:
      - "client/**/*.go"
    carryforward: false
  provider:
    paths:
      - "databricks/*.go"
    carryforward: true

fixed the flags and separate test types with separate coverage files
  .gitignore
  .travis.yml
  Makefile
Due: none

added comment for codecov
  codecov.yml
Due: none

Travis ci update with codecov + comments (#32)
  .gitignore
  .travis.yml
  Makefile
  codecov.yml
Due: none

set branch to master
  codecov.yml
Due: none

fixed linting errors 1039 unnecessary fmt
  client/service/client.go
  client/service/dbfs_test.go
Due: client

new job: only set new_cluster when set in schema
  databricks/resource_databricks_job.go
Due: provider

any branch should be able to comment for codecov
  codecov.yml
Due: none

Initial devcontainer
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Due: none

Add gotestsum
  .devcontainer/Dockerfile
Due: none

Add devcontainer notes to README
  README.md
Due: none

Add missing bash-completion dependency
  .devcontainer/Dockerfile
Due: none

Add LiveShare extension for collaboration
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Due: none

increased client timeout duration to 60 seconds from 10 seconds
  client/service/client.go
Due: client

add environment variables for the entire azure auth to make the provider deployment much easier for the acceptance testing.
  databricks/provider.go
Due: provider

fetch the CLOUD_ENV environment variable and if it is azure just configure the azure provider to only fetch sp credentials from env. This makes testing much easier.
  databricks/provider_test.go
Due: none

another issue with integration tests, the default should be "users". This should not be nil.
  databricks/resource_databricks_secret_scope.go
Due: provider

fixed principal for secret acls to users and made everything a non parallel test because parallel tests were causing issues with consistent outcome.
  databricks/resource_databricks_secret_acl_test.go
  databricks/resource_databricks_secret_scope_test.go
  databricks/resource_databricks_secret_test.go
  databricks/resource_databricks_token_test.go
Due: none

removed unused functions and tests for unused functions
  databricks/utils.go
  databricks/utils_test.go
Due: provider

updated makefile to lint different tags, to avoid function conflicts, added terraform-acc-azure and aws targets. Added readme for integration testing
  .gitignore
  Makefile
  README.md
Due: none

formatted and added docs for linting and renamed from testing to just development
  README.md
  databricks/resource_databricks_secret_test.go
Due: none

moved linting and acceptance testing documentation before project components.
  README.md
Due: none
